<main class="mails-container">
    <section class="btn-group">
        <button class="refresh-btn" (click)="refreshMails()" [disabled]="isLoading()">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/refresh.png" alt="Refresh" class="refresh-icon">
            Refresh
        </button>
        <app-mails-filter />
    </section>

    @if (hasData()) {
    @for (mail of filteredMails(); track $index) {
    <app-mail-summary-component [mail]="mail" />
    }

    <section class="pagination-container">
        @if (isFirstPage()) {
        <button class="arrow-btn" (click)="getPreviousMail()" [disabled]="isLoading()">
            &#8592;
        </button>

        }
        <button class="arrow-btn" (click)="getNextMail()" [disabled]="isLoading()">
            &#8594;
        </button>
    </section>
    }

    @if (isLoading()) {
    <app-loading-component />
    }
</main>